body {
  background: #262626;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}
.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.rating input {
  display: none;
}
.rating label {
  display: block;
  width: 50px;
  cursor: pointer;
  background-color: #ccc;
}

.rating label :before {
  content: '\f005';
  font-family: fontAwesome;
  font-size: 50px;
  display: block;
  color: #101010;
  opacity: 0;
  top: 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label :after {
  content: '\f005';
  font-family: fontAwesome;
  font-size: 50px;
  display: block;
  position: absolute;
  color: #1f9cff;
  opacity: 0;
  top: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.rating label:hover:after {
  opacity: 1;
}
.rating label:hover:after,
.rating input :checked label:after {
  opacity: 1;
}
